<div class="sticky-top navbar navbar-expand-sm navbar-light navbar-ac border-bottom border-1">
  <div class="container container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <div class="d-flex align-items-center">
          <li class="nav-item ms-3">
            <%= form_with url: coaching_offers_path, method: :get, class: "search-navbar d-flex" do %>
              <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a coaching..." %>
                <%= button_tag(class: "btn btn-ghost") do %>
                  <i class="fa-solid fa-magnifying-glass"></i>
                <% end %>
            <% end %>
          </li>
          <li class="nav-item ms-3">
            <%= link_to "Book a coach!", coaching_offers_path, class: "btn btn-flat" %>
          </li>
        </div>
        <% if user_signed_in? %>
          <li class="nav-item ms-3 dropdown">
            <% if current_user.profile_pic.attached? %>
              <%= cl_image_tag current_user.profile_pic.key, class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "undraw_Female_avatar_re_l6cx.png", class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit my profile", "#", class: "dropdown-item" %>
              <%= link_to "Create a coaching offer", new_coaching_offer_path, class: "dropdown-item" %>
              <%= link_to "Show Dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
