<div class="container show-content">
  <div class="offer_card">
    <div class="img_info">
      <div class="profile-image">
        <div class="image">
        </div>
        <%#= @coaching_offer.user.image  %>
      </div>
      <div class="infos">
        <div class="full-name">
          <%= @coaching_offer.user.first_name %>
          <%= @coaching_offer.user.last_name %>
        </div>
        <div class="skills">
          Skills:
          <%= @coaching_offer.skill %>
        </div>
        <div class="rating_price">
          <div class="rating">
            <%#= @coaching_offer.rating %>
            rating****
          </div>
          <div class="price-offer">
            $<%= @coaching_offer.price %>/h
          </div>
        </div>
      </div>
    </div>
    <div class="offer_description">
      <%#= @coaching_offer.title %>
      <%= @coaching_offer.description %>
    </div>
  </div>

      <%#= change to @bookings, datetime, duration, comment %>
  <div class="booking-form">
    <div class="booking-form-heading">
      Book coaching now!
    </div>
    <%= simple_form_for @coaching_offer do |f| %>
      <div>
        <%= f.input :skill, class: "booking-form-inputs"%>
        <%= f.input :skill, class: "booking-form-inputs"%>
      </div>

      <div>
        <%= f.input :description, class: "booking-comment-input" %>
      </div>

      <div class="booking-form-actions">
        <%= f.submit "Book coaching", class: "btn-flat" %>
      </div>
    <% end %>
  </div>
</div>

<h2 class="offers-heading">Other offers from this coach:</h2>

<div class="grid container other-offers">
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Your FrontEnd Master</h2>
          <p>Struggling with CSS, Javascript and HTML? I can help!</p>
        </div>
        <h2 class="card-trip-pricing">$25.99 /h</h2>
      </div>
    </div>

    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Your FrontEnd Master</h2>
          <p>Struggling with CSS, Javascript and HTML? I can help!</p>
        </div>
        <h2 class="card-trip-pricing">$25.99 /h</h2>
      </div>
    </div>

    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Your FrontEnd Master</h2>
          <p>Struggling with CSS, Javascript and HTML? I can help!</p>
        </div>
        <h2 class="card-trip-pricing">$25.99 /h</h2>
      </div>
    </div>
  </div>
