<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1528901166007-3784c7dd3653?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80);">
  <div class="container">
    <h1>We find your coding <span data-controller="typed-js"></span></h1>
    <p>Get help, learn faster and finish your projects today!</p>
    <%= link_to "Get started", new_user_registration_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container">
  <div class="my-5">
    <h2> Current offers from our coaches:</h2>
  </div>

  <div class="grid">
    <%# TODO: The displaying of the cards should be a .each do statemente with the cards WITH THE CARDS WE HAVE %>
      <% @coaching_offers.each do |offer| %>
        <%= link_to coaching_offer_path(offer), class: "text-decoration-none" do %>
          <div class="card-trip">
                <img src="https://img.freepik.com/free-vector/matrix-style-binary-code-digital-background-with-falling-numbers_1017-25336.jpg" />
                <div class="card-trip-infos">
                  <div>
                    <h2><%= offer.title %></h2>
                    <p><%= offer.description %></p>
                  </div>
                  <h2 class="card-trip-pricing"> $<%= offer.price %>/h</h2>
                  <%= cl_image_tag offer.user.profile_pic.key, class: "card-trip-user avatar-bordered" %>
                </div>
              </div>
        <% end %>
      <% end %>
  </div>
    <%# <div class="card-trip">
      <img src="https://img.freepik.com/free-vector/matrix-style-binary-code-digital-background-with-falling-numbers_1017-25336.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Your FrontEnd Master</h2>
          <p>Struggling with CSS, Javascript and HTML? I can help!</p>
        </div>
        <h2 class="card-trip-pricing">$25.99/h</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div> %>
</div>
